.Headingone{
    background-color: honeydew;
    color: black;
    width: 1150px;
    padding: 20px;
    border: 2px solid hotpink;
    margin: 15px;
    align-items: center;
    text-align: center;
}

#SectionOne{
    background-color: aqua;
}

.HeadingTwo{
    color: #f2b5c4;
}

.HeadingThree{
    border: 8px solid black;
    color: salmon;
}
#Sidebar{
    width: 50%;
    background-color: aqua;
}
#ParagraphOne{
    width: 50%;
    background-color: #f2b5c4;
    font-weight: 600;
}

#DivFour{
    width: 50%;
    background-color: turquoise;
}
body{
background-color: #f1f1f1;
}

#HeadingFour{
 background-color: #f2b5c4;   
 padding: 20px;
 border: 2px dashed black;
 margin: 20px;
}

#HeadingFour{
    font-style: oblique;
    font-size: medium;
    text-align: center;
}