.Headingone{
    background-color: hotpink;
    color: black;
    text-align: center;
    padding: 12px 0;
}

#SectionOne{
    background-color: aqua;
}

.HeadingTwo{
    color: #f2b5c4;
}

.HeadingThree{
    border: 8px solid black;
    color: salmon;
}
#Sidebar{
    width: 50%;
    float: right;
    background-color: aqua;
}